/* ===== CSS STYLES ===== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ----- Base Styles ---- */

body {
  background-color: rgba(0,0,0,0.05);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
legend,
button,
a {
  font-size: 16px;
  font-family: 'Playfair Display', 'Times', serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

label,
input {
  display: block;
}

.content {
  background-color: white;
  max-width: 800px;
  margin: 25px auto;
  padding: 25px 50px;
  border-radius: 25px;
}


/* ----- DRY Styles ----- */

.bold {
  font-weight: bold;
}

p,
legend,
label {
  color: grey;
}

.inline {
  display: inline;
}


/* ----- Layout Styles ----- */

/* Header */

.main-header {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background-color: black;
}

/* Banner */

.banner-wrapper {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 8px solid black;
}

.banner-wrapper p {
  padding-top: 10px;
}

/* Form */

.form-wrapper {
  max-width: 300px;
  margin: 0 auto;
  padding: 0;
  margin-top: 5px;
}

fieldset {
  border: none;
  padding: 0 0 25px;
}

fieldset:first-child {
  margin: 0 0 30px;
}

legend {
  width: 100%;
  padding: 25px 0;
  border-top: 3px solid black;
}

label {
  margin: 20px auto 0;
  padding: 0;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  background: rgba(255,255,255,0.1);
  width: 100%;
  font-size: 1em;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.2) inset;
  margin-top: 10px;
  border-radius: 5px;
  border: 3px solid transparent;
  transition: border 0.5s, box-shadow 0.5s, background-color 0.5s;
}

#zip_code {
  max-width: 150px;
}

option {
  font-size: 1.4em;
  padding: 15px;
}

select {
  max-width: 300px;
  height: 52px;
  font: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 12px 8px 0;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  color: black
}

.checkbox,
.radio {
  margin: 15px 0 15px;
}

button {
  padding: 15px;
  color: white;
  background-color: #4bd5a9;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  border: 2px solid rgba(0,0,0,0.1);
  border-width: 1px 1px 2px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1);
  margin: 15px auto 0;
  transition: color 0.2s, font-size 0.2s, box-shadow 0.2s;
}

.main-footer {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 25px 0;
  font-style: italic;
  background-color: black;
}


/* ----- Font Styles ----- */

.main-header h1 {
  font-size: 1.9em;
  color: white;
}

.banner-wrapper p {
  font-size: 1.1em;
}

span.bold {
  font-size: 1.4em;
  color: black;
}

legend {
  color: black;
  font-size: 1.4em
}

p {
  font-size: .9em;
}

#topics-label {
  font-size: .9em;
}


/* ----- Pseudo-Classes ----- */

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus{
  box-shadow: 0 3px 10px rgba(0,0,0,0.8);
  border: 3px solid rgba(100,120,237,0.9);
  background: none;
  background-color: white;
}

button:hover,
button:focus {
  color: blanchedalmond;
  box-shadow: 0 3px 5px rgba(0,0,0,0.8);
}

button:active {
  border: none;
  outline: none;
  box-shadow: 0 1px 1px rgba(0,0,0,0.8) inset;
}

::-webkit-input-placeholder {
  text-align: right;
  font-style: italic;
}

:-moz-placeholder {
  text-align: right;
  font-style: italic;
}

::-moz-placeholder {
  text-align: right;
  font-style: italic;
}

:-ms-input-placeholder {
  text-align: right;
  font-style: italic;
}


/* ----- Media Queries -----*/

@media (min-width: 768px) {
  
  .banner-wrapper,
  .form-wrapper {
    max-width: 748px;
  }
  
  .input {
    display: flex;
    justify-content: space-between;
  }
  
  .input label {
    min-width: 20%;
    margin: auto 0;
  }
  
  .input input {
    margin-right: auto;
  }
  
  .input select {
    margin-right: auto;
  }
  
  textarea {
    min-height: 100px;
  }
  
}